.manualConvivencia__embed--border{
	border: 2px solid #F5F8BF;
}

.manualConvivencia{
	padding-bottom:40px;
}

.manualConvivencia__embed--tamanio{
	
	width:80%;
	height:80vh;
	}


@media only screen and (min-width: 0px) and (max-width: 304px){
	
	

}